Repository morpho-dao/morpho-tokenized-vaults, pull requests merged in 2022-09, with the labels that each got.

#116 Refactor vaults
  src/ERC4626UpgradeableSafe.sol
  src/aave-v2/SupplyVault.sol
  src/aave-v2/SupplyVaultBase.sol
  src/aave-v3/SupplyHarvestVault.sol
  src/aave-v3/SupplyVault.sol
  src/aave-v3/SupplyVaultBase.sol
  src/compound/SupplyHarvestVault.sol
  src/compound/SupplyVault.sol
  src/compound/SupplyVaultBase.sol
Labels: 🔥 high priority

#117 Transfer tokens and safe transfer
  src/UniswapV2Swapper.sol
  src/UniswapV3Swapper.sol
  src/aave-v2/SupplyVaultBase.sol
  src/aave-v3/SupplyHarvestVault.sol
  src/aave-v3/SupplyVault.sol
  src/aave-v3/SupplyVaultBase.sol
  src/compound/SupplyHarvestVault.sol
  src/compound/SupplyVault.sol
  src/compound/SupplyVaultBase.sol
  test/aave-v2/TestSupplyVault.t.sol
  test/aave-v2/setup/TestSetupVaults.sol
  test/aave-v3/TestSupplyHarvestVault.t.sol
  test/aave-v3/TestSupplyVault.t.sol
  test/aave-v3/setup/TestSetupVaults.sol
  test/compound/TestSupplyHarvestVault.t.sol
  test/compound/TestSupplyVault.t.sol
  test/compound/setup/TestSetupVaults.sol
  test/helpers/FakeToken.sol
Labels: 🔥 high priority

#120 Make some variables immutable
  scripts/compound/eth-mainnet/Deploy.s.sol
  src/aave-v3/SupplyHarvestVault.sol
  src/aave-v3/SupplyVault.sol
  src/aave-v3/SupplyVaultBase.sol
  src/compound/SupplyHarvestVault.sol
  src/compound/SupplyVault.sol
  src/compound/SupplyVaultBase.sol
  src/compound/interfaces/ISupplyHarvestVault.sol
  test/aave-v3/TestSupplyHarvestVault.t.sol
  test/aave-v3/TestUpgradeable.t.sol
  test/aave-v3/setup/TestSetupVaults.sol
  test/compound/TestSupplyHarvestVault.t.sol
  test/compound/TestUpgradeable.t.sol
  test/compound/live/TestUpgradeableLive.t.sol
  test/compound/setup/TestSetupVaults.sol
Labels: 👻 aave-v3, 🟢 compound

#119 Added receiver argument to harvest
  src/aave-v3/SupplyHarvestVault.sol
  src/aave-v3/interfaces/ISupplyHarvestVault.sol
  src/compound/SupplyHarvestVault.sol
  src/compound/interfaces/ISupplyHarvestVault.sol
  test/aave-v3/TestSupplyHarvestVault.t.sol
  test/aave-v3/TestWrappedNativeToken.t.sol
  test/aave-v3/setup/TestSetupVaults.sol
  test/compound/TestComp.t.sol
  test/compound/TestEth.t.sol
  test/compound/TestSupplyHarvestVault.t.sol
  test/compound/live/TestCompLive.t.sol
  test/compound/live/TestEthLive.t.sol
  test/compound/live/TestSupplyHarvestVaultLive.t.sol
Labels: 👻 aave-v3, 🔥 high priority, 🟢 compound
